h2{
    font-weight: bold;
    margin-bottom: 4em;
}
button{
    color: white;
    font-size: 20px;
    background-color: rgba(128, 128, 128, 0.5);
    border-radius: 10px;
    display: inline;
    padding: 8px;
    border: 1px solid rgb(53, 53, 53);
}
button:hover{
    background-color: rgba(80, 78, 78, 0.863);
}
img{
    height: 280px;
}
.card-img-overlay:hover{
    background-color: rgba(48, 47, 47, 0.39);
}