<nav class="navbar navbar-expand-lg navbar-light bg-white">
    <div class="container-fluid">
      <img src="https://i.pinimg.com/564x/0c/65/32/0c65329025836a07b1184c42902cbbca--logo-pond-monograms.jpg">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="navbar" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['nosotros']">Sobre Nosotros</a>
          </li>
          <li class="nav-item" [routerLinkActive]="['active']">
            <a class="nav-link" [routerLink]="['tienda']">Tienda</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>